<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="/ProfileApp.UI.styles.css" asp-append-version="true" />
<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/admin/vendor/jquery/jquery.min.js"></script>
<link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template-->
@* <link href="css/sb-admin-2.min.css" rel="stylesheet">*@
<link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/admin/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/admin/vendor/jquery/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
@* <script src="/areas/wwwroot/vendor/jquery-easing/jquery.easing.min.js"></script>*@
<script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>


<!-- Custom scripts for all pages-->
@*   <script src="~\areas\wwwroot\js\sb-admin-2.min.js"></script>*@
<script src="~/admin/css/sb-admin-2.min.css" rel="stylesheet"></script>
<link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet" />
<!-- Page level plugins -->
@*    <script src="/areas/wwwroot/vendor/chart.js/Chart.min.js"></script>*@
<script src="~/admin/vendor/chart.js/chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/admin/js/demo/chart-area-demo.js"></script>
<script src="~/admin/js/demo/chart-bar-demo.js"></script>
<script src="~/admin/js/demo/chart-pie-demo.js"></script>
<script src="~/admin/js/demo/datatables-demo.js"></script>
@*<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
